<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81818345699-8079iad5pm5df97dmtu9a2cmo9io9igg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81818345699-8079iad5pm5df97dmtu9a2cmo9io9igg</string>
	<key>API_KEY</key>
	<string>AIzaSyAV-T48oZn6z9ulPaLHrFcBoUW6d9wHNX8</string>
	<key>GCM_SENDER_ID</key>
	<string>81818345699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kakeiboApp</string>
	<key>PROJECT_ID</key>
	<string>kakeiboapp0</string>
	<key>STORAGE_BUCKET</key>
	<string>kakeiboapp0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81818345699:ios:bd0e6c4cf2b18f78c325d6</string>
</dict>
</plist>